
.card-container {
  max-width: 600px;
  border-radius: 15px;
  background: #ffffff;
  padding: 20px;
}

.card-title {
  font-weight: bold;
  background: linear-gradient(90deg, #28a745, #218838);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

.form-label {
  font-weight: bold;
}

.form-control {
  margin-bottom: 1rem;
}

.btn-save {
  background-color: #28a745;
  color: white;
}
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -moz-appearance: textfield;
}
